{% extends "base.html" %}
{% block head %}
    <title>Automated Laundromat | Login</title>
{% endblock %}
{% block content %}

    <section class="login">
      <div class="wrapper">
        <div class="card-switch">
          <label class="switch">
            <input type="checkbox" class="toggle" />
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
              <div class="flip-card__front">
                <div class="title">Log in</div>
                <form class="flip-card__form" onsubmit="return">
                  <input
                    class="flip-card__input"
                    name="email"
                    placeholder="Email"
                    type="email"
                    id="email_login"
                  />
                  <input
                    class="flip-card__input"
                    name="password"
                    placeholder="Password"
                    type="password"
                    id="password_login"
                  />
                  <button class="flip-card__btn" id="loginbtn">
                    Let`s go!
                  </button>
                </form>
              </div>
              <div class="flip-card__back">
                <div class="title">Sign up</div>
                <form class="flip-card__form" onsubmit="return">
                  <input
                    class="flip-card__input"
                    placeholder="Name"
                    type="name"
                    id="name_signup"
                  />
                  <input
                    class="flip-card__input"
                    name="email"
                    placeholder="Email"
                    type="email"
                    id="email_signup"
                  />
                  <input
                    class="flip-card__input"
                    name="password"
                    placeholder="Password"
                    type="password"
                    id="password_signup"
                  />
                  <button class="flip-card__btn" id="signupbtn">
                    Confirm!
                  </button>
                </form>
              </div>
            </div>
          </label>
        </div>
      </div>
    </section>
    <script src="../static/login.js"></script>
  {% endblock %}
