{% extends 'base.html' %}
  {% block head %}
  <title>Automated Laundromat | Machines</title>
  {% endblock %}
  {% block content %}
    
    <section class="items">
      <div class="sub-items">
      <h2 class="items-title">Washers</h2>
      <p class="items-instructions">Select a machine to book</p>
      <div class="items-container" id="washers">
        <!-- <div class="item">
        <p class="item-desc">Washer 1</p>
        <p class="item-status">Current Status: Available</p>
        <button class="btn item-btn">Book</button>
        </div> -->
      </div>
      </div>
      <div class="sub-items">
      <h2 class="items-title">Dryers</h2>
      <p class="items-instructions">Select a machine to book</p>
      <div class="items-container" id="dryers">
        <!-- <div class="item">
        <p class="item-desc">Dryer 1</p>
        <p class="item-status">Current Status: Available</p>
        <button class="btn item-btn">Book</button>
        </div> -->
      </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  {% endblock %}