<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <title>Automated Laundromat | Machines</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="/images/logo.png    " alt="The AI Club" class="logo-img" />
      <ul class="links">
        <li class="link"><a href="index.html">Home</a></li>
        <li class="link"><a>Book Machine</a></li>
        <li class="link"><a>Notifications</a></li>
        <li class="link"><a>Bookings</a></li>
        <li class="link"><a>Account</a></li>
      </ul>
    </nav>
    <section class="items">
      <div class="sub-items">
        <h2 class="items-title">Washers</h2>
        <p class="items-instructions">Select a machine to book</p>
        <div class="items-container">
          <div class="item">
            <p class="item-desc">Washer 1</p>
            <p class="item-status">Current Status: Available</p>
            <button class="btn item-btn">Book</button>
          </div>
        </div>
      </div>
      <div class="sub-items">
        <h2 class="items-title">Dryers</h2>
        <p class="items-instructions">Select a machine to book</p>
        <div class="items-container">
          <div class="item">
            <p class="item-desc">Dryer 1</p>
            <p class="item-status">Current Status: Available</p>
            <button class="btn item-btn">Book</button>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p class="footer-p">Made with <i class="fas fa-heart"></i> by Group 3</p>
    </footer>
  </body>
</html>
